@import url('https://fonts.googleapis.com/css?family=BenchNine:700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400');

html,
body {
  height: 100%;
  background-color: #FEFEFE;
}

body{
  font-family: Ubuntu, Arial, sans-serif;
  overflow: hidden;
  margin: 0;
}

input, textarea {
  font-family: Ubuntu, Arial, sans-serif;
}

#root {
  height: 100%;
}
